# {{ ansible_managed }}

[Unit]
Description=Aria2 Download Manager Daemon
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/aria2c --conf-path=/home/{{ ds_user_name }}/.aria2/aria2.conf
User={{ ds_user_name }}
Group={{ rpi_shared_group }}
WorkingDirectory={{ ds_downloads_directory }}

[Install]
WantedBy=multi-user.target
