# {{ ansible_managed }}

ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
network={
  ssid="{{ wifi_ssid }}"
  psk="{{ wifi_password }}"

  # Protocol type can be: RSN (for WPA2) and WPA (for WPA1)
  proto={{ wifi_proto }}

  # Key management type can be: WPA-PSK or WPA-EAP (Pre-Shared or Enterprise)
  key_mgmt={{ wifi_key }}

  # Pairwise can be CCMP or TKIP (for WPA2 or WPA1)
  pairwise={{ wifi_pairwise }}

  #Authorization option should be OPEN for both WPA1/WPA2 (in less commonly used are SHARED and LEAP)
  auth_alg=OPEN
}
