<!-- {{ ansible_managed }} -->

<advancedsettings>
  <network>
    <buffermode>1</buffermode>
    <cachemembuffersize>{{ kodi_buffer_size }}</cachemembuffersize>
    <readbufferfactor>{{ kodi_read_buffer_factor }}</readbufferfactor>
  </network>
</advancedsettings>
